@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;1,200&display=swap');
.ma{
  background: #141e30; 
  background: -webkit-linear-gradient(to right, #141e30, #243b55); 
  background: linear-gradient(to right, #141e30, #243b55);
  position: absolute;
  top: 0;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10vh 3vh;
    width: 80%;
    background: rgba(255, 255, 255, 0.06);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.9px);
    margin: auto;
    margin-top: 20vh;
  }
  
  .about-text {
    width: 50%;
    min-width: 300px; 
  }
  
  .about-text h1 {
    margin-bottom: 1rem;
  }
  
  .about-text p {
    font-size: 1rem !important;
    line-height: 1.5;
  }
  
  .about-text h4 {
    margin-top: 2rem;
    font-size: 1.25rem;
  }
  
  .social-links {
    width: 30%;
    min-width: 250px;
    padding: 0 !important;
  }
  .ul{
        list-style: none ;

  }
  .social-links li {
    font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 4vh;
    margin: 2rem 0;
  }
  
  .social-links i {
    font-size: 4vh;
  }
  
  .social-links .bi-instagram {
    color: #f72585;
  }
  
  .social-links .bi-facebook {
    color: blue;
  }
  
  .social-links .bi-github {
    color: black;
  }
  
  .social-links .bi-twitter-x {
    color: black;
  }
  

  @media (max-width: 1200px) {
    .about-container{
        width: 90%;
        padding: 0vh 3vh;
        display: block;
        margin-top: 20vh;
    }
    .about-container div, li{
        width: 100%;text-align: center;
    }

    h1, h2{
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: calc(.8em + 3vh);
    }
    h2{
        
        font-size: calc(.4em + 3vh);
    }

    .ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
  }