@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: white;
    font-size: 3rem;
    pointer-events: auto;
    cursor: pointer;
}

i:hover{
    color: rgb(167, 11, 245);
}

.slider{
    position: absolute;
    left: 10%;
    top: 45%;
    width: 80%;
    height: 45vh;
    overflow: hidden;
    transition: height 1s linear, top 1s linear !important;

}




.slider-inner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 180%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    pointer-events: none;
    transition: 0s ease-in;
}

.slider-img{
    height: 100%;
    width: 60vh;
    background-color: #1a1a1a;
    color: #ddd;
    text-align: center;
    padding: 10px;
    
      
}

.slider-img img{
    filter: brightness(70%);
    border-radius: 10px;
    width: 100%;
}

.slider-inner h2{
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: calc(1rem + 2vh);
}
.slider-inner p{
    opacity: 0;
    margin: 1vh;
    font-size: calc(1rem + .2vh) !important;
    transition: opacity 1s linear;
    font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.slider-inner button{
    opacity: 0;
    transition: opacity 1s linear;
}


@media (max-width: 700px) {
    .slider-img{
        width: 70vw;
        
    }
    .slider-inner{
        width: 360%;
    }
}

