
.body{
    background: #141e30; 
    background: -webkit-linear-gradient(to right, #141e30, #243b55); 
    background: linear-gradient(to right, #141e30, #243b55);    position: absolute;
    top: 0;
    width: 100%;
    height: max-content;

}

.body h2{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20vh;
}

table{
    margin-top: 10vh !important;
}

